.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background: teal;
}

.pagination li {
  display: inline-block;
  padding: 1em;
  color: #f1f1f1;
  border-radius: 5px;
}
.pagination .active {
  background: rgb(1, 90, 90);
}

::-webkit-scrollbar{
  width: 3px;
}  

::-webkit-scrollbar-track{
  background: initial;
}

::-webkit-scrollbar-thumb{
  background: #3f4b4a;
  border-radius: 50px;
}
